pydot
pydotplus
graphviz
jupyterlab
ipywidgets
numpy
pandas
openpyxl
scipy
statsmodels
matplotlib
matplotlib-venn
japanize-matplotlib
joypy
seaborn
fastcluster
statannotations
autoviz
scikit-learn
xgboost
lightgbm
catboost
spacy
optuna
hyperopt
ray
tensorflow
keras
tensorflow-probability
torch
torchvision
torchaudio
gpytorch
arviz
pymc3
Theano-PyMC
pyro-ppl
numpyro
jax
pystan
pycaret[full]
autokeras
rdkit
deepchem
flask
fastapi
gunicorn
uvicorn
python-dotenv
psycopg2-binary
sqlalchemy
streamlit
sphinx
pytest
